<div class="matero-page-header-inner">
  <div fxLayout="row wrap" class="adjust-padding">
    <div class="matero-col field-scope" fxFlex.gt-sm="33.33" fxFlex="100">  
      <div fxLayout="row wrap">
        <div class="matero-col field-scope" fxFlex.gt-sm="100" fxFlex="100">
            <h6>Samantha Moreno (3428)</h6>
            <p>UX Designer <span>Software Services (ADM)</span></p>
        </div>
      </div>
  </div>
  <div class="matero-col field-scope" fxFlex.gt-sm="33.33" fxFlex="100"> 
   <p>Reporting To<strong>Current Location Office Address</strong></p>
   <p>Current Location<strong>MIND Noida</strong></p>
   <p>Office Address<strong>C-26, Sector 62, Noida -201309, UP</strong></p>
    </div>
    <div class="matero-col field-scope" fxFlex.gt-sm="33.33" fxFlex="100"> 
      <p>Email<strong>mail@mind-Infotech.com</strong></p>
      <p>Phone<strong>+91 011 45654567</strong></p>
      <p>Mobile<strong> +91 8789876567</strong></p>
       </div>        
  </div>
</div>
