<h1 class="heading-h1 p-b-8">{{'34'| translate}}</h1>
<mat-accordion>
    <!--Basic Information-->
    <mat-expansion-panel #panel1 [expanded]="true">
      <mat-expansion-panel-header>{{'34'| translate}}</mat-expansion-panel-header>
      <div fxLayout="row wrap" class="matero-row">
        <div class="matero-col" fxFlex.gt-sm="50" fxFlex="100">
    <div class="experience-scope">
        <div class="experience-count"><span>1</span></div>
    <p class="m-t-0">{{'163'| translate}}<span>Senior Software Engineer</span></p>
    <p>{{'164'| translate}} <span>Fiserv Infotech Ltd.</span></p>
    <p>{{'165'| translate}} <span>+91 8789876545 </span></p>
    <p>{{'166'| translate}} <span>Aug 207 - Oct 2019</span></p>
    <p>{{'167'| translate}}<span>Noida, India</span></p>
    <p>{{'168'| translate}} <span>India Develops software solutions by studying information needs; conferring with users; studying systems flow, data usage, and work processes; investigating problem areas; following the software development lifecycle.</span></p>
    </div>
    </div>
    <div class="matero-col" fxFlex.gt-sm="50" fxFlex="100">
        <div class="experience-scope">
            <div class="experience-count"><span>2</span></div>
        <p class="m-t-0">{{'163'| translate}}<span>Senior Software Engineer</span></p>
        <p>{{'164'| translate}} <span>Fiserv Infotech Ltd.</span></p>
        <p>{{'165'| translate}} <span>+91 8789876545 </span></p>
        <p>{{'166'| translate}} <span>Aug 207 - Oct 2019</span></p>
        <p>{{'167'| translate}}<span>Noida, India</span></p>
        <p>{{'168'| translate}} <span>India Develops software solutions by studying information needs; conferring with users; studying systems flow, data usage, and work processes; investigating problem areas; following the software development lifecycle.</span></p>
        </div>

    </div>
    <div class="matero-col" fxFlex.gt-sm="50" fxFlex="100">
        <div class="experience-scope">
            <div class="experience-count"><span>3</span></div>
        <p class="m-t-0">{{'163'| translate}}<span>Senior Software Engineer</span></p>
        <p>{{'164'| translate}} <span>Fiserv Infotech Ltd.</span></p>
        <p>{{'165'| translate}} <span>+91 8789876545 </span></p>
        <p>{{'166'| translate}} <span>Aug 207 - Oct 2019</span></p>
        <p>{{'167'| translate}}<span>Noida, India</span></p>
        <p>{{'168'| translate}} <span>India Develops software solutions by studying information needs; conferring with users; studying systems flow, data usage, and work processes; investigating problem areas; following the software development lifecycle.</span></p>
        </div>
        </div>
        <div class="matero-col" fxFlex.gt-sm="50" fxFlex="100">
            <div class="experience-scope">
                <div class="experience-count"><span>4</span></div>
            <p class="m-t-0">{{'163'| translate}}<span>Senior Software Engineer</span></p>
            <p>{{'164'| translate}} <span>Fiserv Infotech Ltd.</span></p>
            <p>{{'165'| translate}} <span>+91 8789876545 </span></p>
            <p>{{'166'| translate}} <span>Aug 207 - Oct 2019</span></p>
            <p>{{'167'| translate}}<span>Noida, India</span></p>
            <p>{{'168'| translate}} <span>India Develops software solutions by studying information needs; conferring with users; studying systems flow, data usage, and work processes; investigating problem areas; following the software development lifecycle.</span></p>
            </div>

        </div>
    </div>
    </mat-expansion-panel>


  </mat-accordion>
