<h1 class="heading-h1 p-b-8">{{'31'| translate}}</h1>
<div fxLayout="row wrap" class="matero-row">
    <!--Basic Information-->
    <div class="matero-col" fxFlex.gt-sm="50" fxFlex="100">
        <mat-card class="custom-card view-card">
            <div fxLayout="row" class="b-b-1 m-b-8 m-l--8 p-r-4 p-l-8 m-r--8 p-b-8">
              <div tag-flex tag-flex-wrap class="default-footer matero-row form-field" fxFlex.gt-sm="100" fxFlex="100">
                <div class="matero-col" fxFlex.gt-sm="50" fxFlex=100>
                  <mat-card-title>{{'42'| translate}}</mat-card-title>
                </div>
                <div class="matero-col" fxFlex.gt-sm="50" fxFlex=100>
                    <div fxLayoutAlign="end center">
                            <button mat-icon-button>
                            <mat-icon>{{'99'| translate}}</mat-icon>
                          </button>
                      </div>
                </div>
              </div>
            </div>
            <mat-card-content>
                        <p>{{'55'| translate}}<span>Mr.</span></p>
                        <p>{{'57'| translate}} <span>Samantha</span></p>
                        <p>{{'58'| translate}} <span>Gorge</span></p>
                        <p>{{'59'| translate}} <span>Moreno</span></p>
                        <p>{{'60'| translate}}<span>Samantha Moreno</span></p>
                        <p>{{'142'| translate}} <span>Moreno</span></p>
            </mat-card-content>
          </mat-card>
    </div>

    <!--Personal Information-->
    <div class="matero-col" fxFlex.gt-sm="50" fxFlex="100">
        <mat-card class="custom-card view-card">
            <div fxLayout="row" class="b-b-1 m-b-8 m-l--8 p-r-4 p-l-8 m-r--8 p-b-8">
              <div tag-flex tag-flex-wrap class="default-footer matero-row form-field" fxFlex.gt-sm="100" fxFlex="100">
                <div class="matero-col" fxFlex.gt-sm="50" fxFlex=100>
                  <mat-card-title>{{'43'| translate}}</mat-card-title>
                </div>
                <div class="matero-col" fxFlex.gt-sm="50" fxFlex=100>
                    <div fxLayoutAlign="end center">
                            <button mat-icon-button>
                            <mat-icon>{{'99'| translate}}</mat-icon>
                          </button>
                      </div>
                </div>
              </div>
            </div>
            <mat-card-content>
                <div fxLayout="row wrap" class="matero-row">
                    <div class="matero-col" fxFlex.gt-sm="50" fxFlex="100">
                        <p>{{'62'| translate}}<span>Mr.</span></p>
                        <p>{{'63'| translate}} <span>Samantha</span></p>
                        <p>{{'64'| translate}} <span>Gorge</span></p>
                        <p>{{'65'| translate}} <span>Moreno</span></p>
                        <p>{{'66'| translate}}<span>Samantha Moreno</span></p>
                        <p>{{'67'| translate}} <span>Moreno</span></p>
                        </div>
                        <div class="matero-col" fxFlex.gt-sm="50" fxFlex="100">
                            <p>{{'68'| translate}}<span>Married</span></p>
                            <p>{{'69'| translate}}<span>DD/MMM/YY</span></p>
                            <p>{{'70'| translate}}<span>Indian</span></p>
                            <p>{{'71'| translate}}<span><a href="#">mail@mind-infotech.com </a></span></p>
                            <p>{{'143'| translate}}<span>-</span></p>
                        </div>
                    </div>
            </mat-card-content>
           </mat-card>
    </div>

    <!--Correspondence Address-->
    <div class="matero-col" fxFlex.gt-sm="50" fxFlex="100">
        <mat-card class="custom-card view-card">
            <div fxLayout="row" class="b-b-1 m-b-8 m-l--8 p-r-4 p-l-8 m-r--8 p-b-8">
              <div tag-flex tag-flex-wrap class="default-footer matero-row form-field" fxFlex.gt-sm="100" fxFlex="100">
                <div class="matero-col" fxFlex.gt-sm="50" fxFlex=100>
                  <mat-card-title>{{'72'| translate}}</mat-card-title>
                </div>
                <div class="matero-col" fxFlex.gt-sm="50" fxFlex=100>
                    <div fxLayoutAlign="end center">
                            <button mat-icon-button>
                            <mat-icon>{{'99'| translate}}</mat-icon>
                          </button>
                      </div>
                </div>
              </div>
            </div>
            <mat-card-content>
                        <p>{{'73'| translate}}<span> M-656</span></p>
                        <p>{{'181'| translate}} <span>Sector 123, Noida Expressway, Noida</span></p>
                        <p>{{'76'| translate}} <span>India</span></p>
                        <p>{{'78'| translate}} <span>Gautam Budha Nagar</span></p>
                        <p>{{'77'| translate}}<span>Uttar Pradesh</span></p>
                        <p>{{'79'| translate}} <span>201306</span></p>
            </mat-card-content>
           </mat-card>
    </div>
  
    <!--Permanent Address-->
     <div class="matero-col" fxFlex.gt-sm="50" fxFlex="100">
        <mat-card class="custom-card view-card">
            <div fxLayout="row" class="b-b-1 m-b-8 m-l--8 p-r-4 p-l-8 m-r--8 p-b-8">
              <div tag-flex tag-flex-wrap class="default-footer matero-row form-field" fxFlex.gt-sm="100" fxFlex="100">
                <div class="matero-col" fxFlex.gt-sm="50" fxFlex=100>
                  <mat-card-title>{{'80'| translate}}</mat-card-title>
                </div>
                <div class="matero-col" fxFlex.gt-sm="50" fxFlex=100>
                    <div fxLayoutAlign="end center">
                            <button mat-icon-button>
                            <mat-icon>{{'99'| translate}}</mat-icon>
                          </button>
                      </div>
                </div>
              </div>
            </div>
            <mat-card-content>
                        <p>{{'73'| translate}}<span> M-656</span></p>
                        <p>{{'181'| translate}} <span>Sector 123, Noida Expressway, Noida</span></p>
                        <p>{{'76'| translate}} <span>India</span></p>
                        <p>{{'78'| translate}} <span>Gautam Budha Nagar</span></p>
                        <p>{{'77'| translate}}<span>Uttar Pradesh</span></p>
                        <p>{{'79'| translate}} <span>201306</span></p>
            </mat-card-content>
           </mat-card>
    </div>

    <!--Emergency Contact-->
    <div class="matero-col" fxFlex.gt-sm="50" fxFlex="100">
          <mat-card class="custom-card view-card">
            <div fxLayout="row" class="b-b-1 m-b-8 m-l--8 p-r-4 p-l-8 m-r--8 p-b-8">
              <div tag-flex tag-flex-wrap class="default-footer matero-row form-field" fxFlex.gt-sm="100" fxFlex="100">
                <div class="matero-col" fxFlex.gt-sm="50" fxFlex=100>
                  <mat-card-title>{{'149'| translate}}</mat-card-title>
                </div>
                <div class="matero-col" fxFlex.gt-sm="50" fxFlex=100>
                    <div fxLayoutAlign="end center">
                            <button mat-icon-button>
                            <mat-icon>{{'99'| translate}}</mat-icon>
                          </button>
                      </div>
                </div>
              </div>
            </div>
            <mat-card-content>
                <mat-tab-group class="m--8">
                    <mat-tab>
                        <p class="m-t-0">{{'145'| translate}}<span>Hordy Joseph</span></p>
                        <p>{{'146'| translate}} <span>Brother</span></p>
                        <p>{{'147'| translate}} <span>+91 98978 97650</span></p>
                        <p>{{'148'| translate}} <span>C-120, Sector 93A, Noida-201509, India</span></p>
                    </mat-tab>
                    <mat-tab>
                        <p class="m-t-0">{{'145'| translate}}<span>Hordy Joseph</span></p>
                        <p>{{'146'| translate}} <span>Brother</span></p>
                        <p>{{'147'| translate}} <span>+91 98978 97650</span></p>
                        <p>{{'148'| translate}} <span>C-120, Sector 93A, Noida-201509, India</span></p>
                    </mat-tab>
                    <mat-tab>
                        <p class="m-t-0">{{'145'| translate}}<span>Hordy Joseph</span></p>
                        <p>{{'146'| translate}} <span>Brother</span></p>
                        <p>{{'147'| translate}} <span>+91 98978 97650</span></p>
                        <p>{{'148'| translate}} <span>C-120, Sector 93A, Noida-201509, India</span></p>
                    </mat-tab>
                  </mat-tab-group>
                        
            </mat-card-content>
          </mat-card>
          
    </div>

    <!--Background Check-->
    <div class="matero-col" fxFlex.gt-sm="50" fxFlex="100">
        <mat-card class="custom-card view-card">
            <div fxLayout="row" class="b-b-1 m-b-8 m-l--8 p-r-4 p-l-8 m-r--8 p-b-8">
              <div tag-flex tag-flex-wrap class="default-footer matero-row form-field" fxFlex.gt-sm="100" fxFlex="100">
                <div class="matero-col" fxFlex.gt-sm="50" fxFlex=100>
                  <mat-card-title>{{'155'| translate}}</mat-card-title>
                </div>
                <div class="matero-col" fxFlex.gt-sm="50" fxFlex=100>
                    <div fxLayoutAlign="end center">
                            <button mat-icon-button>
                            <mat-icon>{{'99'| translate}}</mat-icon>
                          </button>
                      </div>
                </div>
              </div>
            </div>
            <mat-card-content>
                        <p>{{'87'| translate}}<span>Completed</span></p>
                        <p>{{'88'| translate}} <span>DD/MMM/YY </span></p>
                        <p>{{'89'| translate}} <span>-</span></p>
                        <p>{{'90'| translate}} <span>-</span></p>
                        <p>{{'91'| translate}}<span>-</span></p>
            </mat-card-content>
           </mat-card>
    </div>


</div>

