<h1 class="heading-h1 p-b-8">{{'156'| translate}}</h1>
<div fxLayout="row wrap" class="matero-row">
    <!--Personal Detail-->
    <div class="matero-col" fxFlex.gt-sm="50" fxFlex="100">
        <mat-card class="custom-card view-card">
            <div fxLayout="row" class="b-b-1 m-b-8 m-l--8 p-r-4 p-l-8 m-r--8 p-b-8">
              <div tag-flex tag-flex-wrap class="default-footer matero-row form-field" fxFlex.gt-sm="100" fxFlex="100">
                <div class="matero-col" fxFlex.gt-sm="50" fxFlex=100>
                  <mat-card-title>{{'42'| translate}}</mat-card-title>
                </div>
                <div class="matero-col" fxFlex.gt-sm="50" fxFlex=100>
                    <div fxLayoutAlign="end center">
                            <button mat-icon-button>
                            <mat-icon>{{'99'| translate}}</mat-icon>
                          </button>
                      </div>
                </div>
              </div>
            </div>
            <mat-card-content>
                        <p>{{'57'| translate}}<span>Samantha</span></p>
                        <p>{{'59'| translate}} <span>Moreno</span></p>
                        <p>{{'62'| translate}} <span>DD/MMM/YY</span></p>
                        <p>{{'63'| translate}} <span>Female</span></p>
                        <p>{{'71'| translate}}<span>example@mind-infotech.com</span></p>
                        <p>{{'65'| translate}} <span>B+</span></p>
            </mat-card-content>
          </mat-card>
    </div>

    <!--Qualification-->
    <div class="matero-col field-scope" fxFlex.gt-sm="50" fxFlex="100">
        <mat-card class="custom-card view-card">
            <div fxLayout="row" class="b-b-1 m-b-8 m-l--8 p-r-4 p-l-8 m-r--8 p-b-8">
              <div tag-flex tag-flex-wrap class="default-footer matero-row form-field" fxFlex.gt-sm="100" fxFlex="100">
                <div class="matero-col" fxFlex.gt-sm="50" fxFlex=100>
                  <mat-card-title>{{'33'| translate}}</mat-card-title>
                </div>
                <div class="matero-col" fxFlex.gt-sm="50" fxFlex=100>
                    <div fxLayoutAlign="end center">
                            <button mat-icon-button>
                            <mat-icon>{{'99'| translate}}</mat-icon>
                          </button>
                      </div>
                </div>
              </div>
            </div>
            <mat-card-content>
                <mat-tab-group class="m--8">
                    <mat-tab>
                        <p class="m-t-0">{{'33'| translate}}<span>Graduate</span></p>
                        <p>{{'157'| translate}} <span>BTech</span></p>
                        <p>{{'158'| translate}} <span>Amity University </span></p>
                        <p>{{'159'| translate}} <span>JAVA, HTML, Database</span></p>
                        <p>{{'160'| translate}}<span>----</span></p>
                        <p>{{'125'| translate}} <span>English</span></p>
                    </mat-tab>
                    <mat-tab>
                        <p class="m-t-0">{{'161'| translate}}<span>Institution / University</span></p>
                        <p>{{'162'| translate}} <span>GECA</span></p>
                    </mat-tab>
                    <mat-tab>
                        <p class="m-t-0">{{'161'| translate}}<span>Institution / University</span></p>
                        <p>{{'162'| translate}} <span>GECA</span></p>
                    </mat-tab>
                  </mat-tab-group>
                        
            </mat-card-content>
          </mat-card>
    </div>

    <!--Experience-->
    <div class="matero-col field-scope" fxFlex.gt-sm="100" fxFlex="100">
        <mat-card class="custom-card view-card">
            <div fxLayout="row" class="b-b-1 m-b-8 m-l--8 p-r-4 p-l-8 m-r--8 p-b-8">
              <div fxFlex.gt-sm="100" fxFlex="100">
                <div class="matero-col" fxFlex.gt-sm="50" fxFlex=100>
                  <mat-card-title>{{'34'| translate}}</mat-card-title>
                </div>
                <div class="matero-col" fxFlex.gt-sm="50" fxFlex=100>
                    <div fxLayoutAlign="end center">
                            <button mat-icon-button>
                            <mat-icon>{{'99'| translate}}</mat-icon>
                          </button>
                      </div>
                </div>
              </div>
            </div>
            <mat-card-content>
                <mat-tab-group class="m--8">
                    <mat-tab>
                        <div fxLayout="row wrap" class="matero-row">
                            <div class="matero-col" fxFlex.gt-sm="50" fxFlex="100">
                        <div class="experience-scope">
                            <div class="experience-count"><span>1</span></div>
                        <p class="m-t-0">{{'163'| translate}}<span>Senior Software Engineer</span></p>
                        <p>{{'164'| translate}} <span>Fiserv Infotech Ltd.</span></p>
                        <p>{{'165'| translate}} <span>+91 8789876545 </span></p>
                        <p>{{'166'| translate}} <span>Aug 207 - Oct 2019</span></p>
                        <p>{{'167'| translate}}<span>Noida, India</span></p>
                        <p>{{'168'| translate}} <span>India Develops software solutions by studying information needs; conferring with users; studying systems flow, data usage, and work processes; investigating problem areas; following the software development lifecycle.</span></p>
                        </div>
                        </div>
                        <div class="matero-col" fxFlex.gt-sm="50" fxFlex="100">
                            <div class="experience-scope">
                                <div class="experience-count"><span>2</span></div>
                            <p class="m-t-0">{{'163'| translate}}<span>Senior Software Engineer</span></p>
                            <p>{{'164'| translate}} <span>Fiserv Infotech Ltd.</span></p>
                            <p>{{'165'| translate}} <span>+91 8789876545 </span></p>
                            <p>{{'166'| translate}} <span>Aug 207 - Oct 2019</span></p>
                            <p>{{'167'| translate}}<span>Noida, India</span></p>
                            <p>{{'168'| translate}} <span>India Develops software solutions by studying information needs; conferring with users; studying systems flow, data usage, and work processes; investigating problem areas; following the software development lifecycle.</span></p>
                            </div>

                        </div>
                        </div>

                    </mat-tab>
                    <mat-tab>
                        <div fxLayout="row wrap" class="matero-row">
                            <div class="matero-col" fxFlex.gt-sm="50" fxFlex="100">
                        <div class="experience-scope">
                            <div class="experience-count"><span>3</span></div>
                        <p class="m-t-0">{{'163'| translate}}<span>Senior Software Engineer</span></p>
                        <p>{{'164'| translate}} <span>Fiserv Infotech Ltd.</span></p>
                        <p>{{'165'| translate}} <span>+91 8789876545 </span></p>
                        <p>{{'166'| translate}} <span>Aug 207 - Oct 2019</span></p>
                        <p>{{'167'| translate}}<span>Noida, India</span></p>
                        <p>{{'168'| translate}} <span>India Develops software solutions by studying information needs; conferring with users; studying systems flow, data usage, and work processes; investigating problem areas; following the software development lifecycle.</span></p>
                        </div>
                        </div>
                        <div class="matero-col" fxFlex.gt-sm="50" fxFlex="100">
                            <div class="experience-scope">
                                <div class="experience-count"><span>4</span></div>
                            <p class="m-t-0">{{'163'| translate}}<span>Senior Software Engineer</span></p>
                            <p>{{'164'| translate}} <span>Fiserv Infotech Ltd.</span></p>
                            <p>{{'165'| translate}} <span>+91 8789876545 </span></p>
                            <p>{{'166'| translate}} <span>Aug 207 - Oct 2019</span></p>
                            <p>{{'167'| translate}}<span>Noida, India</span></p>
                            <p>{{'168'| translate}} <span>India Develops software solutions by studying information needs; conferring with users; studying systems flow, data usage, and work processes; investigating problem areas; following the software development lifecycle.</span></p>
                            </div>

                        </div>
                        </div>
                    </mat-tab>
                    <mat-tab>
                        <div fxLayout="row wrap" class="matero-row">
                            <div class="matero-col" fxFlex.gt-sm="50" fxFlex="100">
                        <div class="experience-scope">
                            <div class="experience-count"><span>5</span></div>
                        <p class="m-t-0">{{'163'| translate}}<span>Senior Software Engineer</span></p>
                        <p>{{'164'| translate}} <span>Fiserv Infotech Ltd.</span></p>
                        <p>{{'165'| translate}} <span>+91 8789876545 </span></p>
                        <p>{{'166'| translate}} <span>Aug 207 - Oct 2019</span></p>
                        <p>{{'167'| translate}}<span>Noida, India</span></p>
                        <p>{{'168'| translate}} <span>India Develops software solutions by studying information needs; conferring with users; studying systems flow, data usage, and work processes; investigating problem areas; following the software development lifecycle.</span></p>
                        </div>
                        </div>
                        <div class="matero-col" fxFlex.gt-sm="50" fxFlex="100">
                            <div class="experience-scope">
                                <div class="experience-count"><span>6</span></div>
                            <p class="m-t-0">{{'163'| translate}}<span>Senior Software Engineer</span></p>
                            <p>{{'164'| translate}} <span>Fiserv Infotech Ltd.</span></p>
                            <p>{{'165'| translate}} <span>+91 8789876545 </span></p>
                            <p>{{'166'| translate}} <span>Aug 207 - Oct 2019</span></p>
                            <p>{{'167'| translate}}<span>Noida, India</span></p>
                            <p>{{'168'| translate}} <span>India Develops software solutions by studying information needs; conferring with users; studying systems flow, data usage, and work processes; investigating problem areas; following the software development lifecycle.</span></p>
                            </div>

                        </div>
                        </div>
                    </mat-tab>
                  </mat-tab-group>
                                          
            </mat-card-content>
          </mat-card>
    </div>

    <!--Employee Identity-->
    <div class="matero-col" fxFlex.gt-sm="50" fxFlex="100">
          <mat-card class="custom-card view-card">
            <div fxLayout="row" class="b-b-1 m-b-8 m-l--8 p-r-4 p-l-8 m-r--8 p-b-8">
              <div tag-flex tag-flex-wrap class="default-footer matero-row form-field" fxFlex.gt-sm="100" fxFlex="100">
                <div class="matero-col" fxFlex.gt-sm="50" fxFlex=100>
                  <mat-card-title>{{'33'| translate}}</mat-card-title>
                </div>
                <div class="matero-col" fxFlex.gt-sm="50" fxFlex=100>
                    <div fxLayoutAlign="end center">
                            <button mat-icon-button>
                            <mat-icon>{{'99'| translate}}</mat-icon>
                          </button>
                      </div>
                </div>
              </div>
            </div>
            <mat-card-content>
                <mat-tab-group class="m--8">
                    <mat-tab>
                        <p class="m-t-0">{{'169'| translate}}<span>Passport</span></p>
                        <p>{{'170'| translate}} <span>256786TE</span></p>
                        <p>{{'171'| translate}} <span>DD/MMM/YY</span></p>
                        <p>{{'172'| translate}} <span>DD/MMM/YY</span></p>
                        <p>{{'173'| translate}}<span>Govt. Of India</span></p>
                        <p>{{'174'| translate}} <span>India</span></p>
                        <p>{{'175'| translate}} <span>----</span></p>
                        <p>{{'176'| translate}} <span><a href="#">GeorgePAN.jpeg</a></span></p>
                    </mat-tab>
                    <mat-tab>
                        <p class="m-t-0">{{'169'| translate}}<span>Passport</span></p>
                        <p>{{'170'| translate}} <span>256786TE</span></p>
                        <p>{{'171'| translate}} <span>DD/MMM/YY</span></p>
                        <p>{{'172'| translate}} <span>DD/MMM/YY</span></p>
                        <p>{{'173'| translate}}<span>Govt. Of India</span></p>
                        <p>{{'174'| translate}} <span>India</span></p>
                        <p>{{'175'| translate}} <span>----</span></p>
                        <p>{{'176'| translate}} <span><a href="#">GeorgePAN.jpeg</a></span></p>
                    </mat-tab>
                    <mat-tab>
                        <p class="m-t-0">{{'169'| translate}}<span>Passport</span></p>
                        <p>{{'170'| translate}} <span>256786TE</span></p>
                        <p>{{'171'| translate}} <span>DD/MMM/YY</span></p>
                        <p>{{'172'| translate}} <span>DD/MMM/YY</span></p>
                        <p>{{'173'| translate}}<span>Govt. Of India</span></p>
                        <p>{{'174'| translate}} <span>India</span></p>
                        <p>{{'175'| translate}} <span>----</span></p>
                        <p>{{'176'| translate}} <span><a href="#">GeorgePAN.jpeg</a></span></p>
                    </mat-tab>
                  </mat-tab-group>
                        
            </mat-card-content>
          </mat-card>
          
    </div>

    <!--Family Details-->
    <div class="matero-col" fxFlex.gt-sm="50" fxFlex="100">
        <mat-card class="custom-card view-card">
          <div fxLayout="row" class="b-b-1 m-b-8 m-l--8 p-r-4 p-l-8 m-r--8 p-b-8">
            <div tag-flex tag-flex-wrap class="default-footer matero-row form-field" fxFlex.gt-sm="100" fxFlex="100">
              <div class="matero-col" fxFlex.gt-sm="50" fxFlex=100>
                <mat-card-title>{{'38'| translate}}</mat-card-title>
              </div>
              <div class="matero-col" fxFlex.gt-sm="50" fxFlex=100>
                  <div fxLayoutAlign="end center">
                          <button mat-icon-button>
                          <mat-icon>{{'99'| translate}}</mat-icon>
                        </button>
                    </div>
              </div>
            </div>
          </div>
          <mat-card-content>
              <mat-tab-group class="m--8">
                  <mat-tab>
                      <p class="m-t-0">{{'177'| translate}}<span>Joseph</span></p>
                      <p>{{'178'| translate}} <span>Father</span></p>
                      <p>{{'62'| translate}} <span>DD/MMM/YY</span></p>
                      <p>{{'179'| translate}} <span>Business</span></p>
                      <p>{{'180'| translate}}<span>+91 9876754567</span></p>
                      <p>{{'70'| translate}} <span>Indian</span></p>
                      <p>{{'65'| translate}} <span>B+</span></p>
                      <p>{{'86'| translate}} <span>C-120, Sector 93A, Noida-201509, India</span></p>
                  </mat-tab>
                  <mat-tab>
                    <p class="m-t-0">{{'177'| translate}}<span>Joseph</span></p>
                    <p>{{'178'| translate}} <span>Father</span></p>
                    <p>{{'62'| translate}} <span>DD/MMM/YY</span></p>
                    <p>{{'179'| translate}} <span>Business</span></p>
                    <p>{{'180'| translate}}<span>+91 9876754567</span></p>
                    <p>{{'70'| translate}} <span>Indian</span></p>
                    <p>{{'65'| translate}} <span>B+</span></p>
                    <p>{{'86'| translate}} <span>C-120, Sector 93A, Noida-201509, India</span></p>
                </mat-tab>
                <mat-tab>
                    <p class="m-t-0">{{'177'| translate}}<span>Joseph</span></p>
                    <p>{{'178'| translate}} <span>Father</span></p>
                    <p>{{'62'| translate}} <span>DD/MMM/YY</span></p>
                    <p>{{'179'| translate}} <span>Business</span></p>
                    <p>{{'180'| translate}}<span>+91 9876754567</span></p>
                    <p>{{'70'| translate}} <span>Indian</span></p>
                    <p>{{'65'| translate}} <span>B+</span></p>
                    <p>{{'86'| translate}} <span>C-120, Sector 93A, Noida-201509, India</span></p>
                </mat-tab>
                </mat-tab-group>
          </mat-card-content>
        </mat-card>
        
  </div>


</div>

